<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find My Email and Id</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-7">
                <div class="login-wrap p-4 p-md-6">
                    <div class="d-flex">
                        <h3 class="mb-4">Find My Email and Id </h3>
                    </div>
                    <form th:action="@{/member/finding/result/password}" method="post">
                        <span>Please Input Your Id Or Email</span><br/>
                        <div class="input-group mb-3">
                            <span class="form-control-plaintext input-group-text col-3">Id Or Email</span>
                            <input class="form-control" name="userInfo" id="userInfo">
                        </div>
                        <span class="mb-4" style="color: red" th:text="${validErrorMessage}"></span>
                        <br/>

                        <span> Please Choose Your Question and Collect Answer </span>
                        <div class="input-group mb-3">
                            <span class="form-control-plaintext input-group-text col-3">Question</span>
                            <select class="form-control" name="context" id="context">
                                <option value="1" selected>처음 키운 애완동물의 이름은?</option>
                                <option value="2">태어난 동네의 이름은?</option>
                                <option value="3">가장 좋아하는 과일은?</option>
                            </select>
                        </div>
                        <span class="mb-4" style="color: red" th:text="${valid_context}"></span>

                        <div class="input-group mb-3">
                            <span class="form-control-plaintext input-group-text col-3">Answer</span>
                            <input class="form-control" name="answer" id="answer">
                        </div>

                        <span class="mb-4" style="color: red" th:text="${valid_answer}"></span></br>


                        <span>Insert Your Birthday</span><br/>
                        <div class="input-group mb-3">
                            <span class="form-control-plaintext input-group-text col-3">Your Birthday</span>
                            <input type="date" class="form-control" name="birthday" id="birthday">
                        </div>

                        <span class="mb-4" style="color: red" th:text="${valid_birthday}"></span>
                        <span class="mb-4" style="color: red" th:text="${infoErrorMessage}"></span>



                        <div class="input-group mb-3">
                            <button class="btn btn-primary rounded btn-authentication" type="submit">Find</button>
                        </div>

                    </form>
                    <div class="input-group mb-3">
                        <button class="btn btn-primary rounded btn-authentication" type="button"
                                onclick="location.href='/member/finding'">Go to Find Page</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/js/jquery.min.js"></script>
<script src="/js/popper.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
</html>